PORT=3005
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=baseball
DB_USERNAME=admin
DB_PASSWORD=12345
SMTP_TO_EMAIL=twbaseballteam@gmail.com
SMTP_TO_PASSWORD=jpcipxofoktmqwym
ACCESS_TOKEN_SECRET=thisisverstrongaccesstokensecre
DEBUG=true
OTP_SECRET=thisisaotpsecretforserver
# line login 
# 注意: LINE_LOGIN_CALLBACK_URL 是前端(react/next)路由
# 必需要與 LINE developer 的 "Callback URL" 設定一致
LINE_CHANNEL_ID=2004882578
LINE_CHANNEL_SECRET=da119cdcd62a529c62fa8d134f3b56fa
LINE_LOGIN_CALLBACK_URL=http://localhost:3000/member/line-login
# 7-11運送商店用，最後導向前台的跳出視窗接收頁網址路由
SHIP_711_STORE_CALLBACK_URL=http://localhost:3000/test/ship/callback
#0517 pj更新line pay環境
# LINEPAY用
LINE_PAY_CHANNEL_ID=2005032666
LINE_PAY_CHANNEL_SECRET=402743aa74d7ce9d41380aa8e2fcc7dc
# 注意訂單頁與付款完確認頁為同一頁
REACT_REDIRECT_CONFIRM_URL=http://localhost:3005/api/order/confirm/order
REACT_REDIRECT_CANCEL_URL=http://localhost:3000/line-pay/cancel
