.l-nav p {
  margin: 0;
}

.cart-l-title {
  height: 44px;
  align-items: center;
  font-size: var(--p);
  margin: 0;
  padding: 0;
  text-align: center;

  border-bottom: var(--main) 1px solid;
}

@media (max-width: 576px) {
  .cart-l-title {
    display: none;
  }
}

.cart-l-item {
  margin: 0;
  padding: 0;
  height: 250px;
  display: flex;
  align-items: center;
  font-size: var(--p);
  border-bottom: var(--main) 1px solid;
}

@media (max-width: 576px) {
  .cart-l-item {
    height: 260px;
    border-bottom: var(--main) 1px solid;
  }
}

.l-info-content {
  align-items: center;
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 创建4个等宽的列 */
  gap: 60px; /* 可选：设置列之间的间隔 */
}

@media (max-width: 576px) {
  .l-info-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 创建1个等宽的列 */
    gap: 5px; /* 可选：设置列之间的间隔 */
  }
  .li-info {
    display: flex;
    font-display: row;
    justify-content: space-between;
    font-size: 12px;
  }

  .l-btn-group {
    padding: 10px 0;
  }
}

/*  */
@media (min-width: 577px) {
  .l-info {
    width: 700px;
  }
  .l-info-img {
    width: 200px;
  }

  .li-info {
    display: flex;
    font-display: row;
    font-size: 15px;
  }
  .l-count {
    text-align: center;
  }
  .l-sum {
    text-align: center;
  }
  .l-price {
    padding-left: 40px;
    text-align: center;
  }
}

/* 商品照片 */
.l-info-img {
  justify-content: center;
  align-items: center;
}
.l-img {
  width: 150px;
  height: 150px;
  background: #000;
  overflow: hidden;
  line-height: 0;
  margin: 0 auto;
}
.l-img img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/* 商品照片變更 */
@media (max-width: 577px) {
  .l-info-img {
    align-self: start;
    margin: 0;
    width: 120px;
    margin-top: 40px;
  }

  .l-img {
    width: 110px;
    height: 110px;
    background: #000;
    overflow: hidden;
    line-height: 0;
    margin: 0 auto;
  }
  .l-img img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

/* 商品內容 */
.l-info p {
  margin: 0;
}
.l-sum p {
  margin: 0;
}
.l-count p {
  margin: 0;
}
.l-price p {
  margin: 0;
}
